::-webkit-input-placeholder {font-family: 'latoRegular';color: white;font-size: 18px;}
::-moz-placeholder {font-family: 'latoRegular';color: white;font-size: 18px;}/* Firefox 19+ */
:-moz-placeholder {font-family: 'latoRegular';color: white;font-size: 18px;}/* Firefox 18- */
:-ms-input-placeholder {font-family: 'latoRegular';color: white;font-size: 18px;}

* {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.center {text-align: center;}
.left-t{text-align: left;}
.right-t{text-align: right;}
.right{float: right!important;}
.left{float: left!important;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.wrapper:before, .wrapper:after{content: ''; display: table;}
.wrapper:after {clear: both;}
.flow-hidden {overflow: hidden}
body {
  position: relative; 
  color: black;
  font-family: $hRoman;
  min-width: 1210px;
}