.section-form {
  padding-top: 25px;
  padding-bottom: 30px;
  textarea {
    margin-bottom: 30px;
  }
}

.thanks {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 171px;
  .button {
    width: 220px;
    margin-top: 40px;
    text-align: center;
  }
}

// input:not([type=submit]) {

// }

textarea {
  display: block;
  width: 100%;
  resize: none;
  height: 300px;
  border: 1px solid #e8e8e8;
  padding-top: 20px;
  padding-left: 20px;
  color: #000;
  font-family: $hRoman;
  font-size: 18px;
  outline: none;
}


button[type=submit] {
  display: inline-block;
  outline: none;
  border: none;
  padding: 22px 5px 21px;
  background-color: #ffbb04;
  color: black;
  font-size: 18px;
  -webkit-border-radius: 37px;
  border-radius: 37px;
  font-family: $hRoman;
  width: 220px; 
  span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20px;
      height: 19px;
      background: url(../img/r-arrow.png) no-repeat;
      right: -20px;
      transition: 0.5s;
    }

  }
  

  &:hover {
    background: #eaac04;
    cursor: pointer;
    span {
      padding-right: 30px;
      &:after {
        opacity: 1;
        right: 0px;
      }
    }
  }
  &:active {
    -webkit-transform: translateY(1px);    
    -ms-transform: translateY(1px);    
    transform: translateY(1px);
  }
}
input.error,
textarea.error {
  border: 1px solid red !important;
}